include COPYING
recursive-include . *.css
recursive-include . *.html
recursive-include . *.jpg
recursive-include . *.mp3
recursive-include . *.png
recursive-include . *.rst
recursive-include . *.woff
recursive-include . *.woff2
